<form class="well">
    <div class="form-group">
                <div class="input-group">
                    <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="ADD A TASK TO DO">
                    <span class="input-group-btn">
                        <button type="submit" (click)="addTask($event)" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </span>
                </div>
    </div>
</form>

<h5 class="headings">TODO:</h5>
<div class="task-list">
    <div *ngFor = "let task of tasks">
        <div class="input-group well tasksToDo" *ngIf ="!task.isDone">
            <label id="myTodos">
                <i class="fa fa-check ifTrue" aria-hidden="true"></i>
                <input type="checkbox" id="myCheckBox" [checked]="task.isDone" (click)="updateStatus(task)" class="checkBox">
                {{task.title}}
            </label>
            <i class="fa fa-trash trash" (click)="deleteTask(task._id)" id="trashColor" aria-hidden="true"></i>            
        </div>
    </div>

    
    <hr/>
    <h5 class="headings">COMPLETED:</h5>
    <div class="task-list">
        <div *ngFor = "let task of tasks">
            <div class="tasksIsDone" *ngIf ="task.isDone">
                <button type="button" (click)="deleteTask(task._id)" class="btn btn-success btn-block">{{task.title}} </button>
            </div>
        </div>
    </div>
</div>